<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--pageMeta-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Loading CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.complete.css">



</head>
<body>

    <div id="page" class="page">

    <!-- /.wrapper -->

    	<!-- /.item --><div class="item header margin-top-0 padding-bottom-0" id="header3">

    		<header class="wrapper image image1">

    			<div class="bg bg1"></div>

    			<div class="container">

    				<div class="row banner2">

    					<div class="col-md-5 blockbox fontpagebox">

    						<h1 class="editContent">WEAPON OF MASSDESTRUCTION</h1>

    						<p class="editContent">WMD is a simple framework containing python developed tools and interaction with other established tools.</p>

                            <div class="frontpagebtnholder">

                                <a href="/start" class="btn btn-default btn-lg btn-wide frontpagebtn">Get started</a>

                                <a href="https://github.com/ThomasTJdev/WMD" class="btn btn-primary btn-lg btn-wide frontpagebtn">Github</a>

                            </div>

    					</div>

    				</div><!-- /.row -->

    			</div><!-- /.container -->

    		</header></div><!-- /.wrapper -->

    	<!-- /.item --></div><!-- /#page -->


    <!-- Load JS here for greater good =============================-->


</body></html>
