<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--pageMeta-->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Loading CSS -->
    <link href="static/css/style.complete.css" rel="stylesheet">



</head>
<body>

    <div id="page" class="page">

    <!-- /.wrapper -->

    	<!-- /.item --><div class="item header margin-top-0 padding-bottom-0" id="header3">

    		<header class="wrapper image image1">

    			<div class="bg bg3"></div>

    			<div class="container" style="padding-top: 20px;!important">

                    <div class="toolbox blockbox topbox">

                        <h1 class="editContent" style="text-align: center; padding-top: 10px;"><b>WEAPON OF MASS DESTRUCTION</b></h1>

                        <h2 class="" style="color: white; text-align: center; margin-top: 5px;!important"><b>Choose your weapon</b></h2>

                        <div class="toolboxholder">
                            <div class="fronttopboxbtn col-md-6 topboxbtn" style="display: inline-block;">
                                <a href="#" class="btn maintoolboxbtn btn-lg btn-wide toolboxbtn">Version {{ version | safe }}</a>
                            </div>
                            <div class="fronttopboxbtn col-md-6 topboxbtn" style="display: inline-block;">
                                <a href="https://github.com/ThomasTJdev/WMD" target="_blank" class="btn maintoolboxbtn btn-lg btn-wide toolboxbtn">  Github  </a>
                            </div>
                        </div>

                    </div>

    				<div class="row banner2">

                        {{ modules | safe }}

    				</div><!-- /.row -->

    			</div><!-- /.container -->

    		</header></div><!-- /.wrapper -->

    	<!-- /.item --></div><!-- /#page -->


    <!-- Load JS here for greater good =============================-->


</body></html>
