
.blockbox {
    background-color: rgba(120, 117, 117, 0.9)!important;
    border-radius: 20px;
}

.frontpagebtnholder {
    width: 100%;
    text-align: center;
}

.frontpagebtn {
    width: 40%;
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.wrapper.image .bg3 {
    background-image: url(../images/picture3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
}

.toolbox {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
}

.toolboxholder {
    width: 100%;
    text-align: center;
}

.toolboxbtn {
    width: 60%;
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.maintoolboxbtn {
    color: #ffffff;
    background-color: #bdc3c7;
    background: #97333d;
    box-shadow: 0 2px #5d4f51;
    color: #000;
}

.row{
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
}

.toolboxholder{
    margin-top: 2%;
    margin-bottom: 2%;
}


.wrapper.image .bg {
    position: fixed;
}

.gobtn{
    margin-top: 20px;
    margin-bottom: 15px;
}

.topbox{
    margin-right: 30%;
    margin-left: 30%;
    height: 250px;
}

.topboxbtn{
    margin-top: 5%;
}

.wrapper.image .bg {
    position: fixed;
}

.wrapper.image {
    position: inherit;
    width: 100%;
    z-index: 100;
    color: #fff;
}

.fontpagebox{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
    width: 500px;
}

.frontpagebtnholder{
    margin-top: 5%
}

.fronttopboxbtn{
    margin-top: 2.5%;
}



/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-black-webfont.eot');
    src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black-webfont.woff') format('woff'), url('../fonts/lato/lato-black-webfont.ttf') format('truetype'), url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bold-webfont.eot');
    src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold-webfont.woff') format('woff'), url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bolditalic-webfont.eot');
    src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-italic-webfont.eot');
    src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic-webfont.woff') format('woff'), url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-light-webfont.eot');
    src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light-webfont.woff') format('woff'), url('../fonts/lato/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular-webfont.woff') format('woff'), url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Flat-UI-Icons";
    src: url("../fonts/Flat-UI-Icons.eot");
    src: url("../fonts/Flat-UI-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons.woff") format("woff"), url("../fonts/Flat-UI-Icons.ttf") format("truetype"), url("../fonts/Flat-UI-Icons.svg#Flat-UI-Icons") format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #ffffff;
}
a {
    color: #16a085;
    text-decoration: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
a:hover,
a:focus {
    color: #000000;
    text-decoration: none;
}
a:focus {
    outline: none;
}


.page-header {
    padding-bottom: 14px;
    margin: 60px 0 30px;
    border-bottom: 1px solid #e7e9ec;
}


.wrapper.image {
    position: inherit;
    width: 100%;
    z-index: 100;
    color: #fff;
}

.wrapper.image1 .container {
    padding-top: 260px;
    padding-bottom: 260px;
}

.wrapper.image2 .container {
    padding-top: 25px;
    padding-bottom: 100px;
}

.wrapper.image .container p {
    font-size: 18px;
}

.wrapper.image .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.wrapper.image .bg1 {
    background-image: url(../images/picture1.jpg);
    background-repeat: no-repeat;
    /*background-position: 0% bottom;*/
    background-size: cover;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0.7);
    /*background: url(../images/picture1.jpg) no-repeat scroll 50% 50% / cover  rgba(0, 0, 0, 0);*/
}

.wrapper.image .bg2 {
    background-image: url(../images/picture2.jpg);
    background-repeat: no-repeat;
    background-position: 0% bottom;
    background-size: cover;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    /*background: url(../images/picture2.jpg) no-repeat scroll 50% bottom / cover  rgba(0, 0, 0, 0);*/
}

.banner.grey {
    background: #95A5A6;
}

.banner h1 {
    margin: 80px 0px 80px 0px;
    font-weight: normal;
    font-size: 40px;
    line-height: 1.4em;
}

.banner2 h1 {
    margin: 40px 0px 10px 0px;
}

.banner2 {
    margin-bottom: 80px;
}

.banner2 p {
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
}

p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 15px 0;
    color: #515157;
}

.lead {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
}

small, .small {
    font-size: 80%;
    line-height: 2;
}

em { color: #ff6600; }


/*===================================================================================*/
/*	BUTTONS
/*===================================================================================*/

.btn {
    color: #FFF;
    padding: 10px 20px;
    margin: 15px 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.btn-sm {
    padding: 7px 13px;
    font-size: 12px;
}

.btn-lg {
    padding: 16px 26px;
    font-size: 16px;
}

.btn-xl {
    padding: 18px 30px;
    font-size: 24px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

h1 .btn,
h2 .btn,
h3 .btn,
h4 .btn,
p .btn {
    margin-left: 15px;
}

/* Button DISABLED */
.disabled a {
    cursor: not-allowed;
}

/* Button DEFAULT */
.btn.btn-default {
    background: #ecf0f1;
    box-shadow: 0 2px #bdc3c7;
    color: #999;
}

.btn.btn-default:hover {
    background: #bdc3c7;
}

/* Button PRIMARY */
.btn.btn-primary {
    background: #1abc9c;
    box-shadow: 0 2px #16a085;
}

.btn.btn-primary:hover {
    background: #ffffff;
    box-shadow: 0 0px #16a085;
}

/* Button WARNING */
.btn.btn-warning {
    background: #f1c40f;
    box-shadow: 0 2px #f39c12;
}

.btn.btn-warning:hover {
    background: #f39c12;
}

/* Button DANGER */
.btn.btn-danger {
    background: #e74c3c;
    box-shadow: 0 2px #c0392b;
}

.btn.btn-danger:hover {
    background: #c0392b;
}

/* Button SUCCESS */
.btn.btn-success {
    background: #2ecc71;
    box-shadow: 0 2px #27ae60;
}

.btn.btn-success:hover {
    background: #27ae60;
}


button:hover {
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}




p {
    font-size: 16px;
}

h1 {
    font-size: 34px;
    line-height: 54px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}
